.media-container {
  position: relative;
  display: inline-block;
  right: 30px;
  overflow: hidden;
  
}
  .media-overlay {
    position: absolute;
    left: 40px;
    bottom: 15px;
    width: 500px;
    height: 400px;
    background-color: rgba(180, 180, 180, 0.6);
  }
    #media-input {
      display: block;
      
      width: 500px;
      height: 400px;
      line-height: 200px;
      opacity: 0;
      position: relative;
      z-index: 9;
    }
    .media-icon {
      
      display: block;
      color: #ffffff;
      font-size: 2em;
      height: 500px;
      line-height: 400px;
      position: absolute;
      z-index: 0;
      width: 100%;
      text-align: center;
    }
  .media-object {}
    .img-object {
      width: 500px;
      height: 400px;
      display: block;
      left: 10px;
    }

.media-control {
  margin-top: 20px;
  margin-left : 170px;
}
.edit-profile {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color:#ffec64;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}
.save-profile {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color:#33bdef;
  border-radius:6px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
@media (max-width: 768px) {
  .media-overlay{
    width: 265px;
    height: 150px;
   
  }
  .img-object {
    width: 265px;
    height: 150px;
    display: block;
    left: 10px;
  }
  .media-control {
    margin-top: 20px;
    margin-left : 75px;
  }
}